*~
vendor/*
.*~
.buildpath
.project
.settings
/composer.lock
/phpunit.xml
/src/Test/
/build/
/.couscous/
/template/
/.travis/
/vendor-bin/require-checker/vendor/
/vendor-bin/couscous/vendor/
.phpunit.result.cache
/phpbench.sh
/xdebug/
