parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
     - src/SafeFunctions.php # Temporary exclude, delete this file in PHP ^8.0
    ignoreErrors:
     - "#Method JsonSerializable::jsonSerialize\\(\\) invoked with 1 parameter, 0 required.#"
     - "#Method .*::.* should return .* but returns .*TheCodingMachine\\\\TDBM\\\\AbstractTDBMObject#"
     - "#Method .*::.* should return .* but returns TheCodingMachine\\\\TDBM\\\\ResultIterator#"
     - "#Call to an undefined method object::#"
     - "#expects TheCodingMachine\\\\TDBM\\\\AbstractTDBMObject, object given.#"
     - "#should return array<TheCodingMachine\\\\TDBM\\\\AbstractTDBMObject> but returns array<int, object>#"
     #- "#expects array<string>, array<int, int|string> given.#"
     - '#Method TheCodingMachine\\TDBM\\NativeWeakrefObjectStorage::get\(\) should return TheCodingMachine\\TDBM\\DbRow\|null but returns object\|null.#'
     -
        message: '#Result of && is always false.#'
        path: src/Test/Dao/Bean/Generated/ArticleBaseBean.php
     -
        message: '#Strict comparison using === between int\|string and null will always evaluate to false#'
        path: src/Utils/ScalarBeanPropertyDescriptor.php
    #reportUnmatchedIgnoredErrors: false
includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

