<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="TDBM Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- "Real" test database -->
        <var name="db_host" value="localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
        <var name="db_name" value="tdbm_testcase"/>
        <var name="db_port" value="3306"/>
        <var name="db_driver" value="pdo_mysql"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Test</directory>
            <file>src/Schema/LockFileSchemaManager.php</file>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
</phpunit>
