<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="TDBM Test Suite">
            <directory>./tests/Mouf/Database/TDBM/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- PLEASE CONFIGURE DB CREDENTIALS -->
        <var name="db_user" value="root"/>
        <var name="db_password" value=""/>
    </php>
    
    <filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">src/Mouf</directory>
    		<exclude>
      			<directory suffix=".php">src/Mouf/Database/TDBM/Controllers</directory>
                <file>/tests/Mouf/Database/TDBM/TDBMAbscractServiceTest.php</file>
    		</exclude>
  		</whitelist>
	</filter>
</phpunit>
